$red: #D00000;
$blue: #6457A6;
$green: #566E3D;

@mixin font-heading-serif {
    font-family: "Old Standard TT", serif;
}

@mixin font-display-sans {
    font-family: "Bebas Neue", sans-serif;
}

@mixin font-text-serif {
    font-family: "Libre Baskerville", serif;
}