$red: #d00000;
$blue: #6457a6;
$green: #566e3d;
$white: #ffffff;
$black: #000000;
$off-white: #ebebeb;
$grey: #a8a8a8;
$gray: $grey;

$breakpoint-xs: 479px;
$breakpoint-md: 768px;
$max-content-width: 1050px;

@mixin font-heading-serif {
    font-family: "Old Standard TT", serif;
}

@mixin font-text-serif {
    font-family: "Crimson Text", serif;
}

@mixin font-display-sans {
    font-family: "Bebas Neue", sans-serif;
}

@mixin font-text-sans {
    font-family: "Roboto", sans-serif;
}

@mixin button {
    @include font-text-serif;
    box-sizing: border-box;
    padding: 0.625rem;
    border: 0.2rem solid;
    text-decoration: none;
    transition: background-color 0.1s, color 0.1s;
    line-height: normal;
    cursor: pointer;
}
@mixin button-green {
    border-color: $green;
    background-color: $green;
    color: $white;
    &:hover {
        background-color: $white;
        color: $green;
    }
}

@mixin fieldset {
    @include font-text-sans;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    border: 0.1rem solid $grey;
    box-sizing: border-box;
}

@mixin fieldset-legend {
    // @include font-text-sans;
    font-size: 1rem;
    padding: 0.25rem;
    border: 0.1rem solid $grey;
    text-decoration: none;
    line-height: normal;
}
